@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground:  #000000;
  --primary: #f5e394;
  --secondary: #ffd85f;
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: "Poppins", sans-serif;
}


.inverted-radius {
  --r: 3vw; /* the radius */
  --s: 3vw; /* size of inner curve */
  --x: 2vw; /* horizontal offset (no percentage) */
  --y: 1.2vw; /* vertical offset (no percentage) */
  

  aspect-ratio: 1;

  border-radius: var(--r);
  --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%);
  --_g:conic-gradient(at var(--r) var(--r),#000 75%,#0000 0);
  --_d:(var(--s) + var(--r));
  mask:
    calc(var(--_d) + var(--x)) 0 var(--_m),
    0 calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 0 0,#0000 99%,#000 calc(100% + 1px)) 
     calc(var(--r) + var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(var(--_d) + var(--x)) 0,
    var(--_g) 0 calc(var(--_d) + var(--y));
  mask-repeat: no-repeat;
}